<Config>
  <LogLevel>info</LogLevel>
  <Port>8989</Port>
  <SslPort>9899</SslPort>
  <UrlBase>/sonarr/</UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>66666666666666666666666666666666</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>main</Branch>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <InstanceName>Sonarr</InstanceName>
  <SyslogPort>514</SyslogPort>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <EnableSsl>True</EnableSsl>
  <SslCertPath>/certs/server.pfx</SslCertPath>
  <SslCertPassword>changeme</SslCertPassword>
</Config>
