# System Parameters
UID=1000
GID=1000
TIMEZONE=America/Toronto
UMASK=022

# Folders
CONFIG_FOLDER=./configs
MEDIA_FOLDER=./media
RECYCLE_FOLDER=./shared/Recycle
TORRENT_FOLDER=./shared/Torrent
TORRENT_BLACKHOLE_FOLDER=./shared/Torrent/Blackhole
TORRENT_DOWNLOADS_FOLDER=./shared/Torrent/Downloads
USENET_FOLDER=./shared/Usenet
USENET_BLACKHOLE_FOLDER=./shared/Usenet/Blackhole
USENET_DOWNLOADS_FOLDER=./shared/Usenet/Downloads

# Apps Profiles (enabled/disabled)
CALIBRE_PROFILE=enabled
CALIBREWEB_PROFILE=enabled
FLARESOLVERR_PROFILE=enabled
JACKETT_PROFILE=enabled
LAZYLIBRARIAN_PROFILE=enabled
LIDARR_PROFILE=enabled
MYLAR_PROFILE=enabled
NZBGET_PROFILE=enabled
NZBHYDRA2_PROFILE=enabled
PLEX_PROFILE=enabled
PROTONVPN_PROFILE=enabled
QBITTORRENT_PROFILE=enabled
RADARR_PROFILE=enabled
READARR_PROFILE=enabled
SONARR_PROFILE=enabled

# Apps Versions
CALIBRE_VERSION=latest
CALIBREWEB_VERSION=latest
FLARESOLVERR_VERSION=latest
JACKETT_VERSION=latest
LAZYLIBRARIAN_VERSION=latest
LIDARR_VERSION=latest
MYLAR_VERSION=latest
NZBGET_VERSION=latest
NZBHYDRA2_VERSION=latest
PLEX_VERSION=latest
PROTONVPN_VERSION=latest
QBITTORRENT_VERSION=latest
RADARR_VERSION=latest
READARR_VERSION=develop
SONARR_VERSION=latest
