# System Parameters
UID=1000
GID=1000
TIMEZONE=America/Toronto
UMASK=022
DOMAIN=localhost
VPN_PROVIDER=protonvpn

# Folders
CERTIFICATES_FOLDER=./certs
CONFIG_FOLDER=./configs
MEDIA_FOLDER=./media
RECYCLE_FOLDER=./shared/Recycle
TORRENT_FOLDER=./shared/Torrent
TORRENT_BLACKHOLE_FOLDER=./shared/Torrent/Blackhole
TORRENT_DOWNLOADS_FOLDER=./shared/Torrent/Downloads
USENET_FOLDER=./shared/Usenet
USENET_BLACKHOLE_FOLDER=./shared/Usenet/Blackhole
USENET_DOWNLOADS_FOLDER=./shared/Usenet/Downloads

# Certificate details
CERT_COUNTRY=XX
CERT_STATE=StateName
CERT_CITY=CityName
CERT_ORGANIZATION=CompanyName
CERT_OU=CompanySectionName
CERT_FQDN=${DOMAIN}

# Apps Profiles (enabled/disabled)
CALIBRE_PROFILE=enabled
CALIBREWEB_PROFILE=enabled
FLARESOLVERR_PROFILE=enabled
JACKETT_PROFILE=enabled
LAZYLIBRARIAN_PROFILE=enabled
LIDARR_PROFILE=enabled
MYLAR_PROFILE=enabled
NGINX_PROFILE=enabled
NZBGET_PROFILE=enabled
NZBHYDRA2_PROFILE=enabled
PLEX_PROFILE=enabled
PROTONVPN_PROFILE=enabled
QBITTORRENT_PROFILE=enabled
RADARR_PROFILE=enabled
READARR_PROFILE=enabled
SONARR_PROFILE=enabled

# Apps Versions
CALIBRE_VERSION=latest
CALIBREWEB_VERSION=latest
FLARESOLVERR_VERSION=latest
JACKETT_VERSION=latest
LAZYLIBRARIAN_VERSION=latest
LIDARR_VERSION=latest
MYLAR_VERSION=latest
NGINX_VERSION=stable-alpine
NZBGET_VERSION=latest
NZBHYDRA2_VERSION=latest
PLEX_VERSION=latest
PROTONVPN_VERSION=latest
QBITTORRENT_VERSION=latest
RADARR_VERSION=latest
READARR_VERSION=develop
SONARR_VERSION=latest

# Apps HTTP Ports
CALIBRE_HTTP_PORT=8080
CALIBRE_WEB_CONTAINER_HTTP_PORT=8083
CALIBRE_WEB_HTTP_PORT=8081
FLARESOLVERR_HTTP_PORT=8191
JACKETT_HTTP_PORT=9117
LAZYLIBRARIAN_HTTP_PORT=5299
LIDARR_HTTP_PORT=8686
MYLAR_HTTP_PORT=8090
NGINX_HTTP_PORT=80
NZBGET_HTTP_PORT=6789
NZBHYDRA2_HTTP_PORT=5076
QBITTORRENT_HTTP_PORT=8082
RADARR_HTTP_PORT=7878
READARR_HTTP_PORT=8787
SONARR_HTTP_PORT=8989

# Apps HTTPS Ports
LIDARR_HTTPS_PORT=6868
NGINX_HTTPS_PORT=443
NZBGET_HTTPS_PORT=6791
RADARR_HTTPS_PORT=7879
READARR_HTTPS_PORT=8788
SONARR_HTTPS_PORT=8990

# Apps Other Ports
QBITTORRENT_PORT=6881
