### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Visual Code Workspace
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# dotenv ###
.env

# Docker-compose dev file
docker-compose.dev.yml

# Backup files
certs.backup.**
configs.backup.**
.env.backup.**
backup/**
