[GENERAL]
homepage = Authors
auth_type = FORM
config_tab_num = 9
imp_preflang = eng, en, en-US, en-GB, en-CA, por, pt, pt-BR
date_lang = en_GB.UTF-8
imp_autoadd_copy = False
imp_autoadd_bookonly = True
ssl_verify = False
imp_comiccover = False
opf_tags = False
wishlist_tags = False
wishlist_genres = False
ebook_dir = /data/media/ebooks
audio_dir = /data/media/audiobooks
download_dir = /data/downloads
audiobook_type = m4b, flac, mp3
user_agent = Mozilla/5.0 (X11; Linux x86_64; rv:85.0) Gecko/20100101 Firefox/85.0

[API]
api_enabled = True
api_key = 00000000000000000000000000000001
api_ro_key = 00000000000000000000000000000002
book_api = GoodReads
ol_api = True

[WEBSERVER]
http_user = lazylibrarian
http_pass = changeme
http_root = /lazylibrarian
https_enabled = True
https_cert = /certs/server.crt
https_key = /certs/server.key

[LOGGING]
logdir = /config/log

[IMPORTER]
multi_source = True

[CALIBRE]
calibre_use_server = True
calibre_server = http://calibre-http:8081/calibre_content
calibre_user = calibre
calibre_pass = changeme
imp_calibredb = /usr/bin/calibredb
imp_calibre_ebook = True
imp_calibre_comic = True
imp_calibre_magtitle = False

[TELEMETRY]
server_id = 00000000000000000000000000000003

[GIT]
git_updated = 1785292136
install_type = source DOCKER
current_version = 40a389ea
latest_version = 36795e7c7a9d388863cea9a9dc1b85191c19cf2b
commits_behind = 33
auto_update = True

[SABNZBD]
sab_host = https://172.28.0.10
sab_port = 8087
sab_subdir = /sabnzbd
sab_user = sabnzbd
sab_pass = changeme
sab_api = 00000000000000000000000000000004
sab_cat = ebooks

[NZBGET]
nzbget_host = https://127.0.0.1/nzbget
nzbget_port = 6791
nzbget_user = nzbget
nzbget_pass = nzbget
nzbget_category = Books

[USENET]
nzb_downloader_sabnzbd = True
nzb_blackholedir = /data/usenet/blackhole

[TORRENT]
tor_downloader_qbittorrent = True
numberofseeders = 0
torrent_dir = /data/torrents/blackhole

[QBITTORRENT]
qbittorrent_host = https://172.28.0.10
qbittorrent_port = 8085
qbittorrent_user = qbittorrent
qbittorrent_pass = changeme
qbittorrent_label = lazylibrarian
qbittorrent_ignore_ssl = True

[ABB]
abb = True

[SEARCHSCAN]
wishlist_interval = 24

[LIBRARYSCAN]
isbn_lookup = False

[POSTPROCESS]
audiobook_dest_folder = $Author/$Title
del_downloadfailed = True
del_completed = False

[COMICS]
comic_tab = True
comic_relative = False
comic_delfolder = False
comic_type = cbz, cbr
comic_single = False

[MAGAZINES]
imp_autoaddmag_copy = False

[TWITTER]
twitter_prefix =

[PROWL]
prowl_priority = -2

[OPDS]
opds_authentication = True
opds_username = lazylibrarian
opds_password = changeme
opds_metainfo = True

[PREPROCESS]
create_singleaudio = True
write_audiotags = True
