<Config>
  <LogLevel>info</LogLevel>
  <UrlBase>/readarr</UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>8787</Port>
  <SslPort>8788</SslPort>
  <EnableSsl>True</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>33333333333333333333333333333333</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>nightly</Branch>
  <SslCertPath>/certs/server.pfx</SslCertPath>
  <SslCertPassword>changeme</SslCertPassword>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <InstanceName>Readarr</InstanceName>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
</Config>
