# DN_API_KEY=00000000-0000-0000-0000-000000000000   #	Required / API Key from Notifiarr.com
# DN_AUTO_UPDATE=off                                #	off / Set to daily to turn on automatic updates (windows only)
# DN_BIND_ADDR=127.0.0.1:5455                       #	0.0.0.0:5454 / The IP and port to listen on
# DN_QUIET=false                                    #	false / Turns off output. Set a log_file if this is true
# DN_UI_PASSWORD=notifiarr:notifiarr                #	None by default. Set a username:password & change the password to encrypt i
# DN_SSL_KEY_FILE=/certs/server.key                 #	Providing SSL files turns on the SSL listener
# DN_SSL_CERT_FILE=/certs/server.crt                #	Providing SSL files turns on the SSL listener
# DN_URLBASE=/notifiarr/                            #	default: / Change the web root with this setting
# DN_UPSTREAMS_0=127.0.0.1/32                       #	List of upstream networks that can set X-Forwarded-For

# DN_LOG_FILE=                                    #	None by default. Optionally provide a file path to save app logs
# DN_HTTP_LOG=                                    #	None by default. Provide a file path to save HTTP request logs
# DN_LOG_FILE_MB=                                 #	100 / Max size of log files in megabytes
# DN_LOG_FILES=                                   #	10 / Log files to keep after rotating. 0 disables rotation
# DN_FILE_MODE=                                   #	"0600" / Unix octal filemode for new log files
# DN_TIMEOUT=                                     #	60s / Global API Timeouts (all apps default)

# # Lidarr
# DN_LIDARR_0_NAME=lidarr
# DN_LIDARR_0_URL=https://127.0.0.1:6868/lidarr
# DN_LIDARR_0_API_KEY=22222222222222222222222222222222

# # Prowlarr
# DN_PROWLARR_0_NAME=prowlarr
# DN_PROWLARR_0_URL=https://127.0.0.1:9697/prowlarr
# DN_PROWLARR_0_API_KEY=44444444444444444444444444444444

# # Radarr
# DN_RADARR_0_NAME=radarr
# DN_RADARR_0_URL=https://127.0.0.1:7879/radarr
# DN_RADARR_0_API_KEY=11111111111111111111111111111111

# # Readarr
# DN_READARR_0_NAME=readarr
# DN_READARR_0_URL=https://127.0.0.1:8788/readarr
# DN_READARR_0_API_KEY=33333333333333333333333333333333

# # Sonarr
# DN_SONARR_0_NAME=sonarr
# DN_SONARR_0_URL=https://127.0.0.1:9899/sonarr
# DN_SONARR_0_API_KEY=66666666666666666666666666666666

# # qBitTorrent
# DN_QBIT_0_NAME=qbittorrent
# DN_QBIT_0_URL=https://127.0.0.1:6881/qbittorrent
# DN_QBIT_0_USER=qbittorrent
# DN_QBIT_0_PASS=qbittorrent

# # NzbGet
# DN_NZBGET_0_NAME=nzbget
# DN_NZBGET_0_URL=https://127.0.0.1:6791/nzbget
# DN_NZBGET_0_USER=nzbget
# DN_NZBGET_0_PASS=nzbget

# # Plex
# DN_PLEX_URL=https://127.0.0.1:00/
# DN_PLEX_TOKEN=
