<Config>
  <LogLevel>info</LogLevel>
  <UrlBase>/radarr</UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>7879</SslPort>
  <EnableSsl>True</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>5f042273666c49fd948a114b52de7d25</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <Branch>master</Branch>
  <SslCertPath>/certs/server.pfx</SslCertPath>
  <SslCertPassword>0123456789</SslCertPassword>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <InstanceName>Radarr</InstanceName>
</Config>