# Ignore everything in this directory
*

# Except .gitignore and dotenv file
!.gitignore
!.env

# config file
!config/
config/*
!config/Jackett
config/Jackett/*
!config/Jackett/ServerConfig.json
!config/Jackett/Indexers
config/Jackett/Indexers/*
!config/Jackett/Indexers/thepiratebay.json
!config/Jackett/Indexers/thepiratebay.json.bak

