# # Ignore everything in this directory
*

# # Except
!.gitignore
!.env

# config file
!config/
config/*
!config/qBittorrent
config/qBittorrent/*
!config/qBittorrent/qBittorrent.conf
!config/qBittorrent/categories.json
!config/qBittorrent/watched_folders.json
