# Ignore everything in this directory
*

# Except .gitignore and dotenv file
!.gitignore
!.env

# config file
!config/
config/*
!config/mylar/
!config/mylar/*
!config/mylar/config.ini
!config/mylar/mylar.db
