{
  "Port": 9117,
  "LocalBindAddress": "127.0.0.1",
  "AllowExternal": false,
  "AllowCORS": false,
  "APIKey": "77777777777777777777777777777777",
  "AdminPassword": "",
  "InstanceId": "0000000000000000000000000000000000000000000000000000000",
  "BlackholeDir": "/blackhole",
  "UpdateDisabled": false,
  "UpdatePrerelease": false,
  "BasePathOverride": "/jackett",
  "BaseUrlOverride": "",
  "CacheEnabled": true,
  "CacheTtl": 2100,
  "CacheMaxResultsPerIndexer": 1000,
  "FlareSolverrUrl": "http://127.0.0.1:8191/",
  "FlareSolverrMaxTimeout": 55000,
  "OmdbApiKey": "",
  "OmdbApiUrl": "",
  "ProxyType": -1,
  "ProxyUrl": "",
  "ProxyPort": null,
  "ProxyUsername": "",
  "ProxyPassword": "",
  "ProxyIsAnonymous": true
}
