---
auth:
  authType: "FORM"
  rememberUsers: true
  rememberMeValidityDays: 1
  authHeader: null
  authHeaderIpRanges: []
  restrictAdmin: true
  restrictDetailsDl: true
  restrictIndexerSelection: true
  restrictSearch: true
  restrictStats: true
  allowApiStats: true
  users:
  - maySeeAdmin: true
    maySeeDetailsDl: true
    maySeeStats: true
    showIndexerSelection: true
    username: "admin"
    password: "changeme"
categoriesConfig:
  enableCategorySizes: true
  categories:
  - name: "Anime"
    mayBeSelected: true
    searchType: "SEARCH"
    newznabCategories:
    - "5070"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 3000
    minSizePreset: 50
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "ANIME"
  - name: "Audio"
    mayBeSelected: true
    searchType: "MUSIC"
    newznabCategories:
    - "3000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 2000
    minSizePreset: 1
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "Audiobook"
    mayBeSelected: true
    searchType: "MUSIC"
    newznabCategories:
    - "3030"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 1000
    minSizePreset: 50
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "AUDIOBOOK"
  - name: "Comic"
    mayBeSelected: true
    searchType: "SEARCH"
    newznabCategories:
    - "7030"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 250
    minSizePreset: 1
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "COMIC"
  - name: "Console"
    mayBeSelected: true
    searchType: "SEARCH"
    newznabCategories:
    - "1000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 40000
    minSizePreset: 100
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "Ebook"
    mayBeSelected: true
    searchType: "BOOK"
    newznabCategories:
    - "7020"
    - "8010"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 100
    minSizePreset: null
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "EBOOK"
  - name: "FLAC"
    mayBeSelected: true
    searchType: "MUSIC"
    newznabCategories:
    - "3040"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 2000
    minSizePreset: 10
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "MP3"
    mayBeSelected: true
    searchType: "MUSIC"
    newznabCategories:
    - "3010"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 500
    minSizePreset: 1
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "Movies"
    mayBeSelected: true
    searchType: "MOVIE"
    newznabCategories:
    - "2000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 20000
    minSizePreset: 500
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "Movies HD"
    mayBeSelected: true
    searchType: "MOVIE"
    newznabCategories:
    - "2040"
    - "2050"
    - "2060"
    - "2070"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 20000
    minSizePreset: 3000
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "Movies SD"
    mayBeSelected: true
    searchType: "MOVIE"
    newznabCategories:
    - "2030"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 3000
    minSizePreset: 500
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "PC"
    mayBeSelected: true
    searchType: "SEARCH"
    newznabCategories:
    - "4000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 50000
    minSizePreset: 100
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "Prowlarr"
    mayBeSelected: false
    searchType: "SEARCH"
    newznabCategories:
    - "8000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: null
    minSizePreset: null
    applySizeLimitsToApi: false
    description: null
    preselect: false
    subtype: "NONE"
  - name: "TV"
    mayBeSelected: true
    searchType: "TVSEARCH"
    newznabCategories:
    - "5000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 5000
    minSizePreset: 50
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "TV HD"
    mayBeSelected: true
    searchType: "TVSEARCH"
    newznabCategories:
    - "5040"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 4500
    minSizePreset: 300
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "TV SD"
    mayBeSelected: true
    searchType: "TVSEARCH"
    newznabCategories:
    - "5030"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 1000
    minSizePreset: 50
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  - name: "XXX"
    mayBeSelected: true
    searchType: "SEARCH"
    newznabCategories:
    - "6000"
    ignoreResultsFrom: "NONE"
    applyRestrictionsType: "BOTH"
    forbiddenRegex: null
    forbiddenWords: []
    requiredRegex: null
    requiredWords: []
    maxSizePreset: 10000
    minSizePreset: 100
    applySizeLimitsToApi: false
    description: null
    preselect: true
    subtype: "NONE"
  defaultCategory: "All"
  overwriteNaWithSearchCategory: false
downloading:
  downloaders:
  - apiKey: "88888888888888888888888888888888"
    defaultCategory: null
    downloadType: "NZB"
    enabled: true
    iconCssClass: null
    name: "SABnzbd"
    nzbAddingType: "UPLOAD"
    downloaderType: "SABNZBD"
    url: "http://sabnzbd:8080/sabnzbd"
    username: "sabnzbd"
    password: "changeme"
    addPaused: false
  saveTorrentsTo: "/downloads/torrents/blackhole"
  saveNzbsTo: "/downloads/usenet/blackhole"
  sendMagnetLinks: true
  updateStatuses: true
  showDownloaderStatus: false
  nzbAccessType: "PROXY"
  fallbackForFailed: "BOTH"
  externalUrl: null
  primaryDownloader: null
indexers:
- allCapsChecked: true
  apiKey: null
  apiPath: null
  backend: "NEWZNAB"
  binsearchOtherGroups: false
  categoryMapping: null
  color: null
  configComplete: true
  enabledCategories: []
  downloadLimit: null
  forbiddenWordPrefix: "UNKNOWN"
  state: "ENABLED"
  enabledForSearchSource: "BOTH"
  generalMinSize: 1
  groupNames: []
  hitLimit: null
  hitLimitResetTime: null
  host: "https://nzbindex.com"
  lastError: null
  disabledUntil: null
  disabledLevel: 1
  disabledAt: "Wed, 29 Jul 2026 14:57:21 +0000"
  loadLimitOnRandom: null
  minSeeders: null
  name: "NZBIndex"
  password: null
  customParameters: []
  preselect: true
  schedule: []
  score: 0
  searchModuleType: "NZBINDEX"
  showOnSearch: true
  supportedSearchIds: []
  supportedSearchTypes: []
  timeout: null
  username: null
  userAgent: null
  vipExpirationDate: null
  attributeWhitelist: []
  attributeWhitelistCategories: []
main:
  configVersion: 23
  host: "0.0.0.0"
  port: 5077
  urlBase: "/nzbhydra2"
  proxyType: "NONE"
  proxyHost: null
  proxyPort: 1080
  proxyIgnoreLocal: true
  proxyIgnoreDomains: []
  proxyUsername: null
  proxyPassword: null
  proxyImages: false
  backupFolder: "backup"
  backupEveryXDays: 7
  backupBeforeUpdate: true
  deleteBackupsAfterWeeks: 4
  keepHistory: true
  keepStatsForWeeks: 52
  keepHistoryForWeeks: 52
  ssl: true
  sslKeyStore: "/certs/server.pfx"
  sslKeyStorePassword: "changeme"
  verifySsl: true
  disableSslLocally: true
  sniDisabledFor: []
  verifySslDisabledFor:
  - "localhost"
  - "127.0.0.1"
  updateAutomatically: false
  updateToPrereleases: false
  updateCheckEnabled: true
  showWhatsNewBanner: true
  showNews: true
  startupBrowser: true
  checkOpenPort: false
  welcomeShown: true
  disableTour: false
  theme: "grey"
  indexerSelectionAsCheckboxes: false
  databaseCompactTime: 15000
  databaseRetentionTime: 1000
  databaseWriteDelay: 5000
  apiKey: "99999999999999999999999999999999"
  dereferer: null
  instanceCounterDownloaded: true
  repositoryBase: "https://github.com/theotherp"
  shutdownForRestart: false
  useCsrf: true
  xmx: 256
  customVmOptions: null
  scheduledRestartTime: null
  logging:
    consolelevel: "INFO"
    historyUserInfoType: "NONE"
    logIpAddresses: true
    mapIpToHost: true
    logGc: false
    logMaxHistory: 30
    logfilelevel: "INFO"
    logUsername: false
    markersToLog: []
  showUpdateBannerOnDocker: true
searching:
  applyRestrictions: "NONE"
  coverSize: 128
  customMappings: []
  globalCacheTimeMinutes: null
  duplicateAgeThreshold: 2.0
  duplicateSizeThresholdInPercent: 1.0
  forbiddenGroups: []
  forbiddenPosters: []
  forbiddenRegex: null
  forbiddenWords: []
  alwaysConvertIds: "NONE"
  generateQueries: "INTERNAL"
  generateQueriesFormat: "TITLE"
  historyForSearching: 25
  idFallbackToQueryGeneration: "NONE"
  ignorePassworded: false
  ignoreTemporarilyDisabled: false
  ignoreLoadLimitingForInternalSearches: false
  ignoreLoadLimitingForConcreteApiSearches: false
  keepSearchResultsForDays: 14
  language: "en"
  languagesToKeep: []
  loadAllCachedOnInternal: true
  loadLimitInternal: 100
  maxAge: null
  minSeeders: 2
  removeTrailing:
  - ".mp4"
  - ".mkv"
  - ".subs"
  - ".REPOST"
  - "repost"
  - "~DG~"
  - ".DG"
  - "-DG"
  - "-1"
  - ".1"
  - "(1)"
  - "ReUp"
  - "ReUp2"
  - "-RP"
  - "-AsRequested"
  - "-Obfuscated"
  - "-Scrambled"
  - "-Chamele0n"
  - "-BUYMORE"
  - "-[TRP]"
  - "-DG"
  - ".par2"
  - ".part01"
  - "part01.rar"
  - ".part02.rar"
  - ".jpg"
  - "[rartv]"
  - "[rarbg]"
  - "[eztv]"
  - "English"
  - "Korean"
  - "Spanish"
  - "French"
  - "German"
  - "Italian"
  - "Danish"
  - "Dutch"
  - "Japanese"
  - "Cantonese"
  - "Mandarin"
  - "Russian"
  - "Polish"
  - "Vietnamese"
  - "Swedish"
  - "Norwegian"
  - "Finnish"
  - "Turkish"
  - "Portuguese"
  - "Flemish"
  - "Greek"
  - "Hungarian"
  - "-xpost"
  replaceUmlauts: false
  requiredRegex: null
  requiredWords: []
  sendTorznabCategories: true
  showQuickFilterButtons: true
  alwaysShowQuickFilterButtons: false
  customQuickFilterButtons: []
  preselectQuickFilterButtons: []
  timeout: 20
  transformNewznabCategories: true
  userAgent: "NZBHydra2"
  userAgents:
  - "Mozilla"
  - "Sonarr"
  - "Radarr"
  - "CouchPotato"
  - "LazyLibrarian"
  - "Lidarr"
  - "Mylar"
  - "Readarr"
  - "NZB360"
  - "NZBGet"
  - "sabNZBd"
  useOriginalCategories: false
  wrapApiErrors: false
  showMovieQualityIndicator: false
  savedSearches: []
notificationConfig:
  appriseType: "NONE"
  appriseApiUrl: null
  appriseCliPath: null
  displayNotifications: true
  displayNotificationsMax: 5
  entries: []
  filterOuts: []
emby:
  embyBaseUrl: null
  embyApiKey: null
externalTools:
  externalTools:
  - name: "Sonarr"
    type: "SONARR"
    host: "http://sonarr:8989/sonarr"
    apiKey: "11111111111111111111111111111111"
    enabled: true
    syncType: "SINGLE"
    nzbhydraName: "NZBHydra2"
    nzbhydraHost: "https://nzbhydra2:5077/nzbhydra2"
    configureForUsenet: true
    configureForTorrents: false
    addDisabledIndexers: false
    useHydraPriorities: true
    priority: 25
    enableRss: true
    enableAutomaticSearch: true
    enableInteractiveSearch: true
    categories: "5000,5030,5040"
    animeCategories: null
    additionalParameters: null
    minimumSeeders: "1"
    seedRatio: null
    seedTime: null
    seasonPackSeedTime: null
    discographySeedTime: null
    earlyDownloadLimit: null
    removeYearFromSearchString: false
  - name: "Radarr"
    type: "RADARR"
    host: "http://radarr:7878/radarr"
    apiKey: "22222222222222222222222222222222"
    enabled: true
    syncType: "SINGLE"
    nzbhydraName: "NZBHydra2"
    nzbhydraHost: "https://nzbhydra2:5077/nzbhydra2"
    configureForUsenet: true
    configureForTorrents: false
    addDisabledIndexers: false
    useHydraPriorities: true
    priority: 25
    enableRss: true
    enableAutomaticSearch: true
    enableInteractiveSearch: true
    categories: "2000,2030,2040,2050,2060"
    animeCategories: null
    additionalParameters: null
    minimumSeeders: "1"
    seedRatio: null
    seedTime: null
    seasonPackSeedTime: null
    discographySeedTime: null
    earlyDownloadLimit: null
    removeYearFromSearchString: false
  - name: "Lidarr"
    type: "LIDARR"
    host: "http://lidarr:8686/lidarr"
    apiKey: "33333333333333333333333333333333"
    enabled: true
    syncType: "SINGLE"
    nzbhydraName: "NZBHydra2"
    nzbhydraHost: "https://nzbhydra2:5077/nzbhydra2"
    configureForUsenet: true
    configureForTorrents: false
    addDisabledIndexers: false
    useHydraPriorities: true
    priority: 25
    enableRss: true
    enableAutomaticSearch: true
    enableInteractiveSearch: true
    categories: "3000,3010,3030,3040"
    animeCategories: null
    additionalParameters: null
    minimumSeeders: "1"
    seedRatio: null
    seedTime: null
    seasonPackSeedTime: null
    discographySeedTime: null
    earlyDownloadLimit: null
    removeYearFromSearchString: false
  - name: "Readarr"
    type: "READARR"
    host: "http://readarr:8787/readarr"
    apiKey: "44444444444444444444444444444444"
    enabled: true
    syncType: "SINGLE"
    nzbhydraName: "NZBHydra2"
    nzbhydraHost: "https://nzbhydra2:5077/nzbhydra2"
    configureForUsenet: true
    configureForTorrents: false
    addDisabledIndexers: false
    useHydraPriorities: true
    priority: 25
    enableRss: true
    enableAutomaticSearch: true
    enableInteractiveSearch: true
    categories: "7020,8010"
    animeCategories: null
    additionalParameters: null
    minimumSeeders: "1"
    seedRatio: null
    seedTime: null
    seasonPackSeedTime: null
    discographySeedTime: null
    earlyDownloadLimit: null
    removeYearFromSearchString: false
  syncOnConfigChange: true
genericStorage:
  BackupData: "{\"lastBackup\":\"2026-07-27T14:25:59.079136\"}"
  FirstStart: "\"2022-04-22T14:20:37.3071\""
  belowJava17: "false"
  outdatedWrapperDetected: "false"
