<Config>
  <LogLevel>info</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>True</EnableSsl>
  <SslCertPath>/certs/server.pfx</SslCertPath>
  <Port>8686</Port>
  <UrlBase>/lidarr</UrlBase>
  <ApiKey>22222222222222222222222222222222</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslPort>6868</SslPort>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>master</Branch>
  <SslCertPassword>changeme</SslCertPassword>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <InstanceName>Lidarr</InstanceName>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
</Config>
