<Config>
  <LogLevel>info</LogLevel>
  <BindAddress>*</BindAddress>
  <EnableSsl>True</EnableSsl>
  <SslCertPath>/certs/server.pfx</SslCertPath>
  <Port>8686</Port>
  <UrlBase>/lidarr</UrlBase>
  <ApiKey>ebd2e05991db449b979c12ab20a8eff8</ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslPort>6868</SslPort>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>master</Branch>
  <SslCertPassword>0123456789</SslCertPassword>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <InstanceName>Lidarr</InstanceName>
</Config>